@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway/static/Raleway-Regular.ttf');
}

body {
    font-family: 'Raleway';
}

header, section {
    margin: auto;
    padding: 0 5% 0 5%;
}


/*header*/

header nav a img {
    width: 150px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1em;
}

/*barre des boutons haut/droite*/
header nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    padding: 23px 30px;
    border: transparent solid;
    text-decoration: none;
}

nav li:hover {
    border-top: #0065FC solid;
}

header nav ul li:last-child:hover {
    border-top: black solid;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li a:hover {
    color: #0065FC;
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    color: #0065FC;
}

header nav ul li:last-child a {
    color: #0065FC;
    font-weight: bold;
}

#a_signup:hover {
    color: black;
}

/*filtres*/
#filters {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

#filters > p {
    font-weight: bold;
    margin-right: 15px;
}

.filter:hover button, .filter:hover {
    background-color: #DEEBFF;
}

.filter {
    margin: 0 5px;
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    background-color: white;
}

.filter_button {
    border: none;
    background-color: white;
    border-radius: 40px;
}

#searchbar {
    margin: 15px 0 20px 0;
    display: flex;
}

input[type=text] {
    display: block;
    border-left: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-top: 2px solid #F2F2F2;
    border-right: none;
    margin-right: -4px;
    padding: 8px;
    font-weight: bold;
}

input[type=text]:focus {
    outline: none;
}

button:focus {
    outline: none;
}

.search_button {
    display: block;
    border: 2px solid #0065FC;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    font-weight: bold;
    color: #F2F2F2;
    margin-left: -2px;
    padding: 8px;
}

.fa-search {
    display: none;
}

#available {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.fa-info-circle {
    margin: 10px 10px 10px 0;
}

/*icones*/
.fa-map-marker-alt {
    display: block;
    background-color: #F2F2F2;
    height: 44px;
    width: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 10px 0 0 10px;
    margin-right: -2px;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    height: 40px;
    width: 40px;
    color: #0065FC;
    background-color: #DEEBFF;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-left: -2px;
}

.fa-info-circle, .fa-star {
    color: #0065FC;
}

.card_accomodation:first-child .rating .fa-star:last-child, .card_accomodation:nth-child(3) .rating .fa-star:last-child, .card_accomodation:nth-child(4) .rating .fa-star:nth-child(4), .card_accomodation:nth-child(4) .rating .fa-star:last-child, .card_accomodation:nth-child(5) .rating .fa-star:last-child, .card_popular:nth-child(2) .card-content .rating .fa-star:last-child, .card_popular:nth-child(3) .card-content .rating .fa-star:last-child {
    color: #D9D9D9;
}

/*1ère section*/
#acco_pop {
    display: flex;
}

/*hébergements*/

#accommodations {
    width: 70%;
    background-color: #F2F2F2;
    margin: 15px 15px 15px 0;
    border-radius: 10px;
    padding: 30px
}

#showmore {
    font-weight: bold;
    font-size: 0.9em;
}

#cards_accomodations {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.card_accomodation {
    background-color: white;
    border: 20px;
    border-color: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 4px 6px silver;
}

.card_accomodation figure img {
    display: block;
    border-radius: 10px 10px 0 0;
    height: 120px;
    width: 100%;
    object-fit: cover;
}

.card_accomodation figure figcaption {
    margin-top: 1%;
}

figcaption, .price, .rating {
    font-size: 0.8em;
}

figcaption {
    font-weight: bold;
}

.card_accomodation figure figcaption, .card_accomodation p, .card_accomodation div {
    margin-left: 4%;
}

/*populaires*/

aside {
    width: 30%;
    background-color: #F2F2F2;
    margin: 15px 0 15px 15px;
    border-radius: 10px;
    padding: 30px;
}

aside div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#popular {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card_popular {
    background-color: white;
    margin: 30px 0;
    border-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px silver;
    width: 100%;
}

.card_popular {
    display: flex;
    padding: 5px;
}

.card_popular img {
    display: block;
    border-radius: 10px 0 0 10px;
    height: 90px;
    width: 90px;
    min-width: 90px;
    object-fit: cover;
}

.card-content {
    margin-top: 8px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-content .rating {
    justify-content: flex-end;
    position: absolute;
    bottom: 5px;
}

.card-content p:first-child {
    font-weight: bold;
    font-size: 0.8em;
}

.card-content p:nth-child(2) {
    font-size: 0.8em;
}

.card_popular img {
    max-width: 40%;
}

/* 2ème section (activités) */

#activities {
    display: grid;
    padding: 20px 0 20px 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 32.5px);
    grid-gap: 30px;
    grid-auto-flow: dense;
}

/* placement des cartes activités */
#activities a:first-child {
    grid-column: 1;
    grid-row: span 8;
}

#activities a:nth-child(2) {
    grid-column: 2;
    grid-row: 1 / 6;
}

#activities a:nth-child(3) {
    grid-column: 2;
    grid-row: 6 / 9;
}

#activities a:nth-child(4) {
    grid-column: 3;
    grid-row: span 8;
}

#activities a:nth-child(5) {
    grid-column: 4;
    grid-row: 1 / 4;
}

#activities a:last-child {
    grid-column: 4;
    grid-row: 4 / 9;
}

/* fin du placement */

#activities a {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px silver;
    width: 100%;
}

#activities a:first-child img, #activities a:nth-child(4) img {
    display: block;
    border-radius: 10px 10px 0 0;
    height: 90%;
    width: 100%;
    object-fit: cover;
}

#activities a:nth-child(2) img, #activities a:last-child img {
    display: block;
    border-radius: 10px 10px 0 0;
    height: 84%;
    width: 100%;
    object-fit: cover;
}

#activities a:nth-child(3) img, #activities a:nth-child(5) img {
    display: block;
    border-radius: 10px 10px 0 0;
    height: 74%;
    width: 100%;
    object-fit: cover;
}

#activities a p {
    margin: 5%;
    font-weight: bold;
    font-size: 0.8em;
}

/*footer*/

footer {
    background-color: #F2F2F2;
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

footer div {
    padding: 0 5% 0 5%;
    width: 25%;
}

.h4 {
    font-weight: bold;
    margin-bottom: 5px;
}

footer div ul li {
    text-decoration: none;
    border: none;
    padding: 5px 0 0 0;
}